@using HostServer.Models;
@{
    ViewData["Title"] = "主页";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h2 class="mb-3">文件目录</h2>
<ul>
    @foreach (var provider in HostConfiguration.UniversalFileProviderList!)
    {

        <li>
            <a href="@provider.RequestPath" target="_blank">@provider.DisplayName</a>
        </li>
    }
</ul>